*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    background-image: url("img/background.png");
    object-fit: cover;
  }

img{
    width: 20%;
    height: 20%;
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%) scaleX(1);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.Ca1{
    animation: Swim4 20s ease-in-out infinite;
    top: 200px;
    left: 1000px;
}
.Ca2{
    animation: Swim3 20s ease-in-out infinite;
    left: 500px;
    top: 600px;
}
.Ca3{
    animation: Swim2 25s linear infinite;
    left: 400px;
    top: 100px;
}
.Ca4{
    animation: Swim1 15s ease-in-out infinite;
    left: 100px;
    top: 200px;
}

@keyframes Swim1{
    0% {left: 100px;top: 200px;}
    20% {left: 300px;top: 50px;}
    40% {left: 500px;top: 300px;}
    50% {left: 600px;top: 50px;}
    60% {left: 600px;top: 100px;}
    80% {left: 300px;top: 20px;}
    100% {left: 100px;top: 200px;transform:scaleX(-1)}
}

@keyframes Swim2{
    0% {left: 400px;top: 100px;}
    20% {left: 20px;top: 400px;transform:scaleX(-1)}
    40% {left: 300px;top: 100px;}
    50% {left: 200px;top: 50px;}
    60% {left: 200px;top: 300px;}
    80% {left: 1000px;top: 200px;}
    100% {left: 400px;top: 100px;transform:scaleX(-1)}
}

@keyframes Swim3{
    0% {left: 500px;top: 600px;}
    20% {left: 20px;top: 200px;}
    40% {left: 300px;top: 500px;transform:scaleX(1)}
    50% {left: 100px;top: 500px;}
    60% {left: 100px;top: 600px;transform:scaleX(-1)}
    80% {left: 500px;top: 200px;}
    100% {left: 500px;top: 600px;transform:scaleX(1)}
}

@keyframes Swim4{
    0% {left: 1000px;top: 200px;}
    20% {left: 1000px;top: 40px;}
    40% {left: 500px;top: 300px;}
    50% {left: 600px;top: 50px;transform:scaleX(-1)}
    60% {left: 300px;top: 100px;}
    80% {left: 600px;top: 50px;}
    100% {left: 1000px;top: 200px;transform:scaleX(-1)}
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}